#pendo-g-WhEMD3kW8Kznh0XIAUcx1y77RiQ #integration-container-dfa415d1-6da2-4152-9b2c-85095717d69b {
  padding-top: 15px!important;
}
#pendo-g-WhEMD3kW8Kznh0XIAUcx1y77RiQ #_pendo-ext_ h4 {
  font-size: 14px;
  font-weight: 700;
  color: #828387;
  margin: 0 auto;
  line-height: 32px;
  text-transform: lowercase!important;
}
